.classroom-layout__content {
  flex-flow: row !important;
}

.classroom-layout__workspace {
  flex: 0 0 30% !important;
}

.classroom-layout__workspace-tabs {
  width: 408px !important;
}

.classroom-layout__workspace-tabpanel {
  margin: 0 !important;
}

.classroom-layout-panel-layout__main {
  padding: 0 !important;
  height: 552px;
  padding: 10px !important;
  overflow-y: scroll;
}

.classroom-layout-panel-layout__supplement {
  display: none !important;
}

.classroom-layout-panel-layout__toolbar {
  display: none !important;
}