.course-banner__actions  > li:nth-child(2) {
  display: none;
}

.course-body__content {
  justify-content: space-between !important;
}

.course-body__player-area {
  order: 1 !important;
  margin-left: 0 !important;
  height: 440px !important;
  width: 60% !important;
  flex: initial !important;
}

.course-body__info {
  order: 2 !important;
  margin-left: 0 !important;
  width: 38% !important;
  margin-top: 0 !important;
  height: 439px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
 
.course-body__sidebar {
  order: 3 !important;
  position: static !important;
  width: 100% !important;
  margin-top: 20px !important;
  flex: initial !important;
}

.course-body__transcripts {
  margin-right: -38px !important;
}